//body
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    ul {
        padding: 0;
    }
}

//整個頁面-.view-section
.view-section {
    width: 396px;
    height: 829px;
    margin: 0 auto;
    padding: 8px 8px 9px 11px;
    border-radius: 62px;
    background-image: url('/assets/image/bg/bg_chatroom.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;


    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 396px;
        height: 829px;
        background-image: url('/assets/image/ios-system/frame.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        z-index: 1000;
        inset: 0;
        pointer-events: none;
    }

    .top-side {
        width: 375px;
        border-radius: 55px 55px 0px 0px;

    }

    .scroll-content {
        width: 100%;
        padding-top: 126px;
        height: 606px;
        scrollbar-width: none;
    }

    .scroll-content-R {
        width: 100%;
        padding-top: 126px;
        height: 612px;
        scrollbar-width: none;
    }

    .bottom-side {
        width: 375px;
    }
}

@media(max-width: 500px) {
    .view-section {
        width: 100%;
        padding: 0;
        background-size: cover;
        border-radius: 0px;

        &::before {
            width: 100%;
            display: none;
        }

        .top-side {
            width: 100%;
            border-radius: 0px;
        }

        .bottom-side {
            width: 100%;

        }
    }



}




//input(default/noEenter/enter)
.image-upload-btn {
    width: 50px;
    height: 50px;
}

.text-send-btn {
    width: 50px;
    height: 50px;
    background: linear-gradient(#FCC763, #EEAA25);
}

.inputbar-noEnter::placeholder {
    color: $yellow-500;
}





//emotion-sticker
.emotionLG {
    list-style-type: none;
    scrollbar-width: none; //Firefox 把scrollbar隱藏

    &::-webkit-scrollbar {
        display: none; //Chrome, Safari, Edge 把scrollbar隱藏
    }
}

.sticker {

    &:hover,
    :active {
        background-color: $yellow-100 !important;
        color: $black !important;
        font-weight: 500;
    }

}

.sticker.selected {
    background-color: $yellow-100 !important;
    color: $black !important;
    font-weight: 500;
}

.stickerLG {
    width: 80px;

    img {
        width: 64px;
        height: 64px;
    }
}

.stickerSM {
    width: 72px;

    img {
        width: 56px;
        height: 56px;
    }
}

//emotion-reason
.emotionR {
    list-style: none;
    font-size: 14px;
    white-space: nowrap;
}