<header class="chatroom-header d-flex align-items-center py-3 px-5 gap-3 bg-yellow-10 shadow">
    <div class="icon p-1">
        <a href="index.html"><img src="/assets/image/icon/chevron_left.svg" alt="icon-Chevron_Left"></a>
    </div>
    <div class="avatar rounded-circle border border-yellow-100 d-flex align-items-center">
        <img class="rounded-circle" src="/assets/image/mood/mood_notbad.png" alt="avatar">
    </div>
    <p class="fs-4 lh-sm ">毛毛</p>
    <p class="online fs-7 text-gray-300">上線中</p>
    <div class="icon p-1 ms-auto">
        <a href="#"><img src="/assets/image/icon/more.svg" alt="icon-more">
    </div></a>
</header>