<div class="status-bar position-relative z-1">
    <div class="row h-100 align-items-center">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"><time class="time"
                datetime="2025-08-28T9:41">9:41</time></div>
        <div class=" col-4 p-0"><img class="dynamic-island" src="/assets/image/ios-system/dynamic-island.svg"
                alt="dynamic-island"></div>
        <div class="col-4 p-0 d-flex justify-content-center align-items-center">
            <div class="function-list">
                <img class="signal" src="/assets/image/icon/signal.svg" alt="signal">
                <img class="wifi" src="/assets/image/icon/Wifi.svg" alt="Wifi">
                <img class="battery" src="/assets/image/icon/Battery.svg" alt="Battery">
            </div>
        </div>

    </div>
</div>