<!-- 聊天室chatbox的部分，複製放進scroll-content裡 -->
<div class="message d-flex flex-column px-5 py-4" id="message-container">
    <div class="chatbox-default robot">
        我剛剛從手錶讀到你的壓力指數比平常高一些
    </div>
    <div class="chatbox-default robot ">
        想寫下今天的心情，還是單純跟我聊聊呢？我都在這裡陪你。
    </div>

</div>