.chatroom-header {
    width: 375px;
    min-width: 320px;
    top: 54px;
}

@media(max-width: 500px) {
    .chatroom-header {
        width: 100%;
        // top: 66px;
    }
}

.avatar {
    width: 48px;
    height: 48px;

    img {
        width: 44px;
        height: 44px;
    }

}

.online::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #36B086;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;

}