.character_waving_img {
    width: 128px;
}
.bubble-instruction {
    border: 1px dashed $yellow-300;
    border-radius: 16px 16px 16px 0px;
}
.list-item {
    border: 0px solid $blue-500;
    border-radius: 1000px;
}
