<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>查看情緒數據</title>
    <!-- 以下語法：因為重整會出現html還沒加載css樣式，過1秒才後，所以先設定一開始看不到，等下載完再出現畫面（如果有更好辦法拜託教我～～） -->
    <style>
      body {
        visibility: hidden;
      }
    </style>
    <script>
      window.addEventListener("load", () => {
        document.body.style.visibility = "visible";
      });
    </script>


    </head>
    <body>
        <main class="view-section-white position-relative">
            <!-- 頂部 -->
            <section class="top-side pt-3">
                <%- include('./layout/status-bar'); -%>
            </section>

            <div class="d-flex px-5 align-items-center py-3">
            <div class="icon p-1 me-4">
             <a href="data.html"><img src="/assets/image/icon/chevron_left.svg" alt="icon-Chevron_Left"></a>
            </div>
            <div class="flex-fill">
                <h5 class="text-center">情緒數據</h5>
            </div>
            <div style="width:40px;"></div>
            </div>
            
            <!-- 中間：滾動-->
            <div class="scroll-content-full overflow-y-scroll">

            <!-- 時間Tabs -->
            <section class="mx-3 mb-3">
            <ul class="nav nav-pills bg-yellow-100 rounded-pill nav-fill">
            <li class="nav-item px-2">
                <a class="nav-link active fs-8 text-yellow-900 fw-semibold px-0 py-2 shadow" aria-current="page" href="#">週</a>
            </li>

            <li class="nav-item px-2">
                <a class="nav-link fs-8 text-yellow-900 px-0 py-2"  href="#">月</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link fs-8 text-yellow-900 px-0 py-2"  href="#">年</a>
            </li>
            </ul>
            </section>


            <!-- 時間區間 -->
            <section class="mb-3 d-flex px-5 py-1 align-items-center bg-yellow-100 rounded-pill mx-5">
           <div class="icon p-2 me-3">
             <a href="#"><img src="/assets/image/icon/chevron_left.svg" alt="icon-Chevron_Left"></a>
            </div>
            <div class="d-flex align-items-center flex-fill justify-content-center">
                <img src="/assets/image/icon/Calendar.svg" alt="Calendar" class="me-2">
                <p class="fw-semibold text-yellow-900 fs-8">2025/7/13 - 19</p>
            </div>
            <div class="icon p-2 ms-3">
             <a href="#"><img src="/assets/image/icon/chevron_right.svg" alt="icon-Chevron_right"></a>
            </div>
            </section>


            <!-- 角色的話 -->
            <section class="mx-5 mb-5">
                <div
                    class="border-dashed rounded-3 bg-white ps-5 py-5 shadow mb-5"
                >
                    <div class="d-flex align-items-center">
                        <img
                            src="/assets/image/Character/character_head.png"
                            alt="character_pinch"
                            width="48px"
                            class="me-3"
                        />
                        <div class="me-5">
                            <p class="fs-8 lh-base">
                                這週常感到悲傷，建議你可以多多和朋友或家人聊聊、假日出外走走，或是找我抒發你的情緒喔！
                            </p>
                        </div>
                    
                    </div>
                </div>
            </section>    

            <!-- 情緒比例 -->
            <section class="mx-5 mb-5">
                <div
                    class="border-dashed rounded-3 bg-white ps-5 py-5 shadow mb-5"
                >

                <div class="d-flex align-items-center mb-5">
                    <div class="flex-fill"><h5>情緒比例</h5></div>
                    <div class="icon p-1 me-4">
                    <a href="#"><img src="/assets/image/icon/chevron_right.svg" alt="icon-Chevron_right"></a>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <img
                            src="/assets/image/Character/character_head.png"
                            alt="character_pinch"
                            width="36px"
                            class="me-3"
                        />
                    <div class="bg-yellow-10 border-dashed rounded-1 ps-4 py-3 flex-fill me-5">
                    <p class="fs-8 lh-base">
                                這週情緒多變，你正努力面對與理解自己。
                    </p>
                    </div>
                    </div>
                               
                <div class="d-flex w-100 mb-5">
                <div class="emotion-donut-chart d-flex justify-content-center align-items-center flex-column me-4">
                    <p class="fs-8"><span class="fs-3 fw-bold lh-sm">40</span>次</p>
                    <p class="text-gray-300 fs-8">心情記錄</p>
                </div>

                <div class="flex-fill">
                    <p class="fs-7 mb-2">經常出現的情緒Top3：</p>
                    <div class="d-flex flex-column bg-yellow-50 py-3 px-4 me-5 rounded-1 gap-2">
                        <div class="d-flex align-items-center">
                        <span class="label-dot bg-sad me-2"></span>
                        <span class="fs-7">難過</span>
                        <span class="fs-8 ms-auto">8次 • 20%</span>
                        </div>

                        <div class="d-flex align-items-center">
                        <span class="label-dot bg-anxious me-2"></span>
                        <span class="fs-7">焦慮</span>
                        <span class="fs-8 ms-auto">10次	• 25%</span>
                        </div>

                        <div class="d-flex align-items-center">
                        <span class="label-dot bg-neutral me-2"></span>
                        <span class="fs-7">普通</span>
                        <span class="fs-8 ms-auto">6次 • 15%</span>
                        </div>

                    </div>
                </div>

                </div>

              <%- include('./components/emotion-label'); -%>  
            
            </section>

            <!-- 情緒分布 -->
            <section class="mx-5 mb-5">
                <div
                    class="border-dashed rounded-3 bg-white ps-5 py-5 shadow mb-5"
                >

                <div class="d-flex align-items-center mb-5">
                    <div class="flex-fill"><h5>情緒分布</h5></div>
                    <div class="icon p-1 me-4">
                    <a href="#"><img src="/assets/image/icon/chevron_right.svg" alt="icon-Chevron_right"></a>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <img
                            src="/assets/image/Character/character_head.png"
                            alt="character_pinch"
                            width="36px"
                            class="me-3"
                        />
                    <div class="bg-yellow-10 border-dashed rounded-1 ps-4 py-3 flex-fill me-5">
                    <p class="fs-8 lh-base">
                                週三的心情變化滿多的，還好嗎？
                    </p>
                    </div>
                    </div>
            
            <div>
                <img src="/assets/image/chart/stacked-bar-chart.svg" alt="stacked-bar-chart" class="mb-5">
            </div>

             <%- include('./components/emotion-label'); -%>  

                
               





             </div>
            </section>     

           <!-- 情緒趨勢 -->
            <section class="mx-5 mb-8">
                <div
                    class="border-dashed rounded-3 bg-white ps-5 py-5 shadow mb-5"
                >

                <div class="d-flex align-items-center mb-5">
                    <div class="flex-fill"><h5>情緒趨勢</h5></div>
                    <div class="icon p-1 me-4">
                    <a href="#"><img src="/assets/image/icon/chevron_right.svg" alt="icon-Chevron_right"></a>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <img
                            src="/assets/image/Character/character_head.png"
                            alt="character_pinch"
                            width="36px"
                            class="me-3"
                        />
                    <div class="bg-yellow-10 border-dashed rounded-1 ps-4 py-3 flex-fill me-5">
                    <p class="fs-8 lh-base">
                                這週情緒波動比較大，看起來這段時間不太容易……謝謝你還願意寫下來。
                    </p>
                    </div>
                    </div>
            
            <div>
                <img src="/assets/image/chart/graph-data.svg" alt="graph-data">
            </div>

             

                
               





             </div>
            </section>               
            </div>
            <!-- 底部 -->
            <section class="position-absolute bottom-0 pb-8 ps-5">

            </section>
            <section class="bottom-side position-absolute bottom-0 pb-3">
                <%- include('./layout/home-bar'); -%>
            </section>
        </main>

        <script type="module" src="../main.js"></script>

    </body>
</html>
