<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>冥想靜心-Step4</title>
    </head>
    <body>
        <!-- meditation-4.html -->
        <main class="view-section position-relative">
            <!-- 頂部 -->
            <section class="top-side pt-3">
                <%- include('./layout/status-bar'); -%>
            </section>

            <section class="px-5 pt-11 pb-89">
                <div
                    class="d-flex justify-content-center align-items-center w-100 mb-6"
                >
                    <img
                        src="/assets/image/Character/character_meditation.png"
                        alt="character_meditation"
                        height="343px"
                    />
                </div>
                <!-- Character 聊聊標籤 -->
                <div class="d-flex justify-content-center">
                    <div
                        class="position-relative py-3 px-6 rounded-3 bg-white d-inline-flex shadow-lg"
                    >
                        <p class="fs-6 fw-normal text-gray-900 lh-base">
                            輕輕地閉上眼睛，放鬆肩膀
                        </p>
                        <svg
                            width="2em"
                            height="2em"
                            viewBox="0 0 16 16"
                            class="position-absolute top-0 start-50 translate-middle mb-1"
                            fill="var(--bs-white)"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                        >
                            <path
                                d="M7.247 4.86L2.451 10.342C1.885 10.987 2.345 12 3.204 12h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                            />
                        </svg>
                    </div>
                </div>
            </section>

            <section class="px-5 pt-5 pb-6">
                <div
                    class="mb-5 d-flex justify-content-center align-items-center"
                >
                    <div
                        class="bg-yellow-10 py-4 px-6 d-flex justify-content-center align-items-center rounded-pill border-timing"
                    >
                        <p class="fs-1 fw-bold lh-sm text-yellow-900">03:00</p>
                    </div>
                </div>
                <div class="d-flex">
                    <!-- 返回小圓按鈕 -->
                    <a
                        href="meditation-3.html"
                        class="bg-white d-flex justify-content-center align-items-center rounded-circle ms-39-5 me-6 shadow"
                        style="width: 48px; height: 48px"
                    >
                        <img src="/assets/image/icon/back.svg" alt="back" />
                    </a>
                    <!-- 暫停小圓按鈕 -->
                    <a
                        href="meditation-5.html"
                        class="bg-white d-flex justify-content-center align-items-center rounded-circle me-6 shadow"
                        style="width: 48px; height: 48px"
                    >
                        <img src="/assets/image/icon/pause.svg" alt="pause" />
                    </a>
                    <!-- 聲音小圓按鈕 -->
                    <a
                        href="#"
                        class="bg-white d-flex justify-content-center align-items-center rounded-circle me-6 shadow"
                        style="width: 48px; height: 48px"
                    >
                        <img
                            src="/assets/image/icon/volumeOn.svg"
                            alt="volumeOn"
                        />
                    </a>

                    <!-- 紅色小圓按鈕 -->
                    <a
                        href="stress-relief-guidance-1.html"
                        class="bg-red-500 d-flex justify-content-center align-items-center rounded-pill me-39-5 shadow"
                        style="width: 48px; height: 48px"
                    >
                        <img src="/assets/image/icon/phone.svg" alt="phone" />
                    </a>
                </div>
            </section>

            <!-- 底部 -->
            <section class="bottom-side position-absolute bottom-0 pb-3">
                <%- include('./layout/home-bar'); -%>
            </section>
        </main>

        <script type="module" src="../main.js"></script>
    </body>
</html>
